.landing-page{
    height: 93vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    padding-top: 5.5rem;
    align-items: center;
    text-align: center;
    /* padding: 2rem 1rem; */
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    /* background: #28296a; */
    background: #0c2a5e;
    color: white;
    overflow: hidden;
}

.landing-page h1{
    margin: 0;
    font-size: 4rem;
    color: #86b6fa;
}

.landing-page > h2{
    font-size: 1.5rem;
    margin: 0;
}

.quote{
    margin-bottom: 2rem;
    color: white;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeSlideUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

.information-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.information-links a{
    margin: 2rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeSlideUp 1s ease-out forwards;
    animation-delay: 1.5s;
    text-decoration: none;
    color: white;
}

.information-links a:hover{
    cursor: pointer;
    color: #86b6fa
}

.scroll-arrow{
    font-size: 2rem;
    margin: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeIn 1s ease-out forwards;
    color: white;
    text-decoration: none;
    animation-name: bounce, fadeIn;
    animation-duration: 1.5s, 1s;
    animation-iteration-count: infinite, 1;
    animation-delay: 0s, 2.5s;
}

@keyframes fadeSlideUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(.25rem);}
}

@media (max-width: 600px){
    .landing-page h1{
        font-size: 3rem;
    }

    .landing-page h2{
        font-size: 1.1rem;
    }

    .quote{
        font-size: .9rem;
    }

    .information-links a{
        font-size: .9rem;
    }
}