.skills-section{
    background-color: #f9fbff;
}

.skills-section h2{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;  
    padding-bottom: 2rem;
}

.color-Skills{
    color: #145fe1;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-category{
    background-color: white;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
    width: 15rem;
    padding: 1rem;
    transition: box-shadow 0.3s ease;
}

.skill-category:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.skill-category h4{
    color: #145fe1;
}