.contact-section{
    background-color: #f9fbff;
    padding-top: 3rem;  
    padding-bottom: 3rem;
}

.contact-section h2{
    text-align: center;
    font-size: 2.5rem;
}

.color-touch{
    color: #145fe1;
}

.contact-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.contact-container p{
    font-size: .9rem;
    color: #545555;
}

.contact-info,
.contact-form{
    flex: 1 1 25rem;
    max-width: 30rem;
    min-width: 20rem;
}

.contact-info h3,
.contact-form h3{
    font-size: 1.4rem;
    margin: 0;
}

.contact-icon{
    color: #145fe1;
}

.contact-type h4{
    font-weight: 500;
    text-shadow: .025rem 0 0 currentColor;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.contact-type p{
    margin-top: .5rem;
    margin-left: 1.9rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form p{
    margin: 1.5rem 0 .5rem 0;
}

.contact-form input{
    border: .1rem solid #d4d5d7;
    border-radius: 0.5rem;
    height: 2rem;
}

.contact-form textarea{
    border-radius: 0.5rem;
    border: .1rem solid #d4d5d7;
    height: 9rem;
    resize: vertical;
}

.contact-form button{
    cursor: pointer;
    font-size: .9rem;
    margin: 2rem 0rem;
    padding: 1rem;
    width: 10rem;
    border: .1rem solid #d4d5d7;
    border-radius: .5rem;
    background: #145fe1;
    color: white;
}

.contact-form button svg{
    margin-right: 0.5rem;
}