.landing-page{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background: #0b3e86;
    color: white;
    overflow: hidden;
}

.landing-page > h1{
    font-size: 4rem;
    color: #71acff;
}

.information-links a{
    text-decoration: none;
    color: white;
}

.scroll-arrow{
    color: white;
    text-decoration: none;
    animation: bounce 1.25s infinite;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(.25rem);}
}