.landing-page{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background: #0b3e86;
    color: white;
    overflow: hidden;
}

.landing-page > h1{
    margin: 0;
    font-size: 4rem;
    color: #71acff;
}

.landing-page > h2{
    margin: 0;
}

.quote{
    margin-bottom: 2rem;
    color: white;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeSlideUp 1s ease-out forwards;
    animation-delay: 1.5s;
}

.information-links a{
    margin: 2rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeSlideUp 1s ease-out forwards;
    animation-delay: 4s;
    text-decoration: none;
    color: white;
}

.information-links a:hover{
    transform: scale(1.5);
}

.scroll-arrow{
    font-size: 2rem;
    margin: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeIn 1s ease-out forwards;
    color: white;
    text-decoration: none;
    animation-name: bounce, fadeIn;
    animation-duration: 1.5s, 1s;
    animation-iteration-count: infinite, 1;
    animation-delay: 0s, 5s;
}

@keyframes fadeSlideUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(.25rem);}
}