/*Overarching navbar class <nav>*/
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #0b3e86;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.navbar-scrolled{
    background-color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: background-color 0.3 ease, color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease
}

.navbar-header{
    font-weight: bold;
}

.navbar.navbar-scrolled .navbar-header{
    font-weight: bold;
    color:#0b3e86
}

/*Settings for the encompassing div*/
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/*For all ul elements inside navbar container div*/
.navbar-container > ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*For all a elements inside navbar container div*/
.navbar-container a{
    text-decoration: none;
    color: white;
}

.navbar.navbar-scrolled .navbar-container a{
    color: black;
}

/*Settings for the encompassing mobile menu div*/
.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #0b3e86;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9000;
}

/*For all ul elements inside mobile-menu div*/
.mobile-menu ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

/*For all li elements inside mobile-menu div*/
.mobile-menu li{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
}

/*For all a elements inside mobile-menu div*/
.mobile-menu a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

/*Makes cursor become pointer when at hamburger*/
.hamburger{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 9999;
}

/*Settings for when screen too small*/
@media (max-width: 768px){
    .navbar-container > ul{
        display: none;
    }

    .hamburger{
        display: block;
    }
}